.decrementArrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -48px;
  z-index: 2;
}

.incrementArrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -48px;
  z-index: 2;
}
