# Learn how to get your app's client ID, client secret and API key from https://docs.niftory.com/home/v/api/core-concepts/authentication/using-your-api-key
NEXT_PUBLIC_API_KEY="Xk0A4H/LjA1G1D99RU1L2ooS21vR1ZJs2N6Ncqu0tdA="
NEXT_PUBLIC_CLIENT_ID="clacupltt00040hjkt5tidz25"

# Never share the client secret with anyone, and don't commit the .env file containing the secret. Consider using something like Vercel to manage your app deployments and environment variables.

# For more information see: https://docs.niftory.com/home/v/api/core-concepts/authentication/configuring-your-app#client-secret
CLIENT_SECRET="super_secret_client_secret_that_is_unique_to_your_app_DO_NOT_SHARE_OR_COMMIT"

# See https://docs.niftory.com/home/v/api/reference/graphql-and-auth-endpoints
# testnet endpoints are _.staging.niftory.com, and mainnet ones are the same but without 'staging' (i.e. _.niftory.com).
NIFTORY_AUTH_ISSUER="https://auth.staging.niftory.com"
NEXT_PUBLIC_API_PATH="https://api.staging.niftory.com/v1/graphql"

# If you use next-auth like the sample app does, set this to be the canonical URL of your site.
# When developing locally, you can set this to "http://localhost:<port>"
# Learn more at https://next-auth.js.org/configuration/options#nextauth_url
NEXTAUTH_URL="http://localhost:3000"

# As above, this is specific to next-auth, used to encrypt cookies. https://next-auth.js.org/configuration/options#secret
# You can generate a unique ID by running `openssl rand -base64 32`
NEXTAUTH_SECRET="OBDgu7htVoon39p08A4mzGecSmiVga8InIuJ6abF0/g="

# For the Flow blockchain, testnet access node is "https://access-testnet.onflow.org", and mainnet is "https://access.onflow.org"

# https://docs.onflow.org/faq/developers/#using-the-sdks
NEXT_PUBLIC_FLOW_ACCESS_API="https://rest-testnet.onflow.org"

# This sample app uses Dapper wallets.
NEXT_PUBLIC_WALLET_API="https://staging.accounts.meetdapper.com/fcl/authn-restricted"

# The global NFT Contract address. For the Flow blockchain, mainnet contract for NonFungibleToken is 0x1d7e57aa55817448, and testnet is 0x631e88ae7f1d7c20
# See https://docs.onflow.org/core-contracts/non-fungible-token/
NEXT_PUBLIC_NFT_ADDRESS="0x631e88ae7f1d7c20"

# The global NFT Metadata Views Contract address. For the Flow blockchain, mainnet contract for MetadataViews is 0x1d7e57aa55817448, and testnet is 0x631e88ae7f1d7c20
# See https://github.com/onflow/flow-nft/
NEXT_PUBLIC_METADATA_VIEWS_ADDRESS="0x631e88ae7f1d7c20"

# The below 2 parameters are required when using a Niftory  Contract
NEXT_PUBLIC_NIFTORY_ADDRESS="0x04f74f0252479aed"
NEXT_PUBLIC_REGISTRY_ADDRESS="0x6085ae87e78e1433"

# This parameter is the account that funds will be sent to when NFTs are purchased. Use the account address for your Dapper organization.
NEXT_PUBLIC_MERCHANT_ACCOUNT_ADDRESS="0x96e4f6c4fcb01441"

# For more information, head over to the Niftory API docs: https://docs.niftory.com/home/v/api/
