.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.relativeContainer {
  position: relative;
}

.bgDecrement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -48px;
  z-index: 2;
}

.bgIncrement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -48px;
  z-index: 2;
}

.headDecrement {
  position: absolute;
  left: -42px;
  top: 84px;
  z-index: 2;
}

.headIncrement {
  position: absolute;
  right: -42px;
  top: 84px;
  z-index: 2;
}

.torsoDecrement {
  position: absolute;
  left: -42px;
  top: 200px;
  z-index: 2;
}

.torsoIncrement {
  position: absolute;
  right: -42px;
  top: 200px;
  z-index: 2;
}

.legsDecrement {
  position: absolute;
  left: -42px;
  top: 295px;
  z-index: 2;
}

.legsIncrement {
  position: absolute;
  right: -42px;
  top: 295px;
  z-index: 2;
}
