:root {
  --gradient-colors: #061b20, #1c6470, #d3e549;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, var(--gradient-colors));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  image-rendering: pixelated;
}
