.container {
  padding: 0 2rem;
  background: linear-gradient(180deg, var(--gradient-colors));
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.overlapGrid {
  display: grid;
  grid-template-areas: "overlay";
}

.overlapGrid > img {
  grid-area: overlay;
}

.scaleBody {
  scale: 0.8;
}
