.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.embla {
  overflow: hidden;
}
.emblaContainer {
  display: flex;
}
.emblaSlide {
  flex: 0 0 450px;
}
